<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>Hi <%= name %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, architecto. Alias, modi distinctio necessitatibus ut pariatur eius sapiente deserunt. Aspernatur dicta consequuntur beatae similique modi distinctio ipsam culpa, aliquid nobis, nemo non vitae eveniet explicabo reprehenderit esse? Aspernatur aperiam nobis officiis facere mollitia molestias enim eius blanditiis soluta, quidem ad? Porro unde distinctio reprehenderit, sed ullam harum, assumenda eius deleniti qui corrupti reiciendis odio tempore, enim ratione sapiente nesciunt impedit quod quas. Dolorem hic, dolore officiis atque delectus aliquid corporis nesciunt ipsa, quidem ipsum maiores mollitia minima officia praesentium obcaecati nihil voluptates, ex temporibus voluptate eligendi qui. Repudiandae, perspiciatis doloremque.</p>
</body>
</html>